*{
    margin: auto;
    text-align: center;
}
body{
    background-color: rgb(247, 247, 195);
    border-width: 100px;
}
.photo{
     height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
    border: white 15px solid;
    box-shadow: 5px 5px 8px rgb(57, 57, 232);
    
}
.mother{
     background-color: brown;
    padding: 50px; 
     border:  rgb(183, 48, 48) solid 5px; 
    margin: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px red;
    margin-left: 400px;
    margin-right: 400px;
   
}
.heading{
     color: rgb(113, 207, 177);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
    
#slogan{
    padding-bottom  : 20px;
    padding-top: 10px;
}
ul{
    list-style-type: none;
}